.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination a {
  margin: 0;
}

.pagination ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.pagination ul li {
  margin: 0 5px;
}
